name: CD Fake
on: 
    workflow_dispatch: 
        inputs:
            ambiente:
                type: choice
                options:
                    - develop
                    - homologacao
                    - producao
jobs:
    deploy-fake-homologacao:
        runs-on: ubuntu-latest
        environment: ${{ inputs.ambiente }}
        steps:
            - name: Deploy Fake de teste em ambiente
              run: echo "Deploy no ambiente de ${{ vars.AMBIENTE_DEPLOY }}"
    teste-fake:
        runs-on: ubuntu-latest
        environment: ${{ inputs.ambiente }}
        needs: [deploy-fake-homologacao]
        steps:
            - name: Fake de deploy em ambiente
              run: echo "Deploy no ambiente de ${{ vars.AMBIENTE_DEPLOY }}"
    producao-deploy-fake:
        runs-on: ubuntu-latest
        environment: ${{ inputs.ambiente }}
        needs: [teste-fake]
        steps:
            - name: Fake de deploy em ambiente
              run: echo "Deploy no ambiente de ${{ vars.AMBIENTE_DEPLOY }}"